#!/usr/bin/env python
# -*- coding: utf-8 -*-

class Config(object):
    def __init__(self):
        self.HOST = "irc.freenode.org"
        self.PORT = 6667
        self.PASSWORD = None
        self.SSL = False
        self.CHANNEL = "##YOURCHANNEL"
        self.NICK = "YOURBOTNICK"
        self.admin_nicks= ['YOURADMINNICK']
        #=Colours=
        #1 - red		2 - green	3 - yellow
        #4 - blue		5 - purple  6 - cyan
        #7 - lightgreen 8 - grey	9 - pink
        #10 - lighblue
        self.use_colors = True
        self.num_col = '1'
        self.date = '8'
        self.feedname = '2'
        self.url = '4'
        self.shorturls = False
        self.dateformat = '%Y-%m-%d %H:%M:%S %z'
        self.feedlimit = 10
        self.feedorderdesc = True
        self.update_before_connecting = True #Update all feeds before connecting to the IRC server
